@font-face {
    font-family: 'robotoblack';
    src: url('/phinn/assets/font/roboto/roboto-black-webfont.eot');
    src: url('/phinn/assets/font/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('/phinn/assets/font/roboto/roboto-black-webfont.woff2') format('woff2'), url('/phinn/assets/font/roboto/roboto-black-webfont.woff') format('woff'), url('/phinn/assets/font/roboto/roboto-black-webfont.ttf') format('truetype'), url('/phinn/assets/font/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/phinn/assets/font/roboto/roboto-bold-webfont.eot');
    src: url('/phinn/assets/font/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/phinn/assets/font/roboto/roboto-bold-webfont.woff2') format('woff2'), url('/phinn/assets/font/roboto/roboto-bold-webfont.woff') format('woff'), url('/phinn/assets/font/roboto/roboto-bold-webfont.ttf') format('truetype'), url('/phinn/assets/font/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/phinn/assets/font/roboto/roboto-medium-webfont.eot');
    src: url('/phinn/assets/font/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/phinn/assets/font/roboto/roboto-medium-webfont.woff2') format('woff2'), url('/phinn/assets/font/roboto/roboto-medium-webfont.woff') format('woff'), url('/phinn/assets/font/roboto/roboto-medium-webfont.ttf') format('truetype'), url('/phinn/assets/font/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/phinn/assets/font/roboto/roboto-regular-webfont.eot');
    src: url('/phinn/assets/font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/phinn/assets/font/roboto/roboto-regular-webfont.woff2') format('woff2'), url('/phinn/assets/font/roboto/roboto-regular-webfont.woff') format('woff'), url('/phinn/assets/font/roboto/roboto-regular-webfont.ttf') format('truetype'), url('/phinn/assets/font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background: url('/SISCOV/assets/images/back.jpg');*/
}

main {
    flex: 1 0 auto;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #253778;
    box-shadow: 0 1px 0 0 #253778;
}

.btn:hover,
.btn-large:hover {
    background-color: #2AB0E6;
}

#modal12 {
    min-height: 75%!important;
    height: 75%;
}

/*ESTILOS GENERALES*/
.titulosGen {
    font-size:50px;
    color:#8b008b;
}

.titulos {
    font-family:'robotoblack';
    color:#831F82;
    font-size:30px;
    margin-bottom:30px;
}
.titulo-secundario {
    font-family:'robotoblack';
    color:#831F82;
    font-size:20px;
    margin-bottom:30px;
}

#cerrarHM, #agregarHMolienda, #cerrarHM1, #actualizaHMolienda{
    background-color:#831F82;
}

.btn,
.btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #2AB0E6;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.header {
    margin-top: 40px;
}

.centro p {
    margin-top: 20px;
    text-align: center;
    /* position: absolute;
    margin: 0 auto;*/
}

.cabecerafiltro {
    color: #616161;
    font-family: 'robotoblack';
}

#name {
    font-size: 16px;
    letter-spacing: 1px;
}

#pass {
    letter-spacing: 4px;
}

.tableizer-table td {
    padding: 3px;
    margin: 3px;
    font-size: 14px;
}

.tableizer-table th {
    text-align: center;
    /*background-color: none; */
    /*color: #FFF;*/
    font-weight: bold;
    font-size: 12px;
}

.tableizer-lastrow {
    text-align: center;
    background-color: #29b6f6;
    color: #FFF;
    font-weight: bold;
}

table.striped.filtroo>tbody>tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0)!important;
}

.tableizer-Middelrow {
    text-align: center;
    background-color: #00695c;
    color: #FFF;
    font-weight: bold;
}

.AnchoLineaTitulo {
    height: 10px;
}

ul>li {
    list-style-type: none;
    text-align: center;
}

ul>li>img {
    vertical-align: middle;
}

table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}

.numeric {
    text-align: center;
}

.row.menu {
    margin-top: 2%;
}

table tr:nth-child(even) {
    background-color: #CCCCCC;
    text-align: center;
}
td,
th {
    text-align: center;
}

.regular {

    font-family: 'robotoregular'!important;
}

.bold {
    font-family: 'robotobold'!important;
}

.negra {
    font-family: 'robotoblack'!important;
}

.medium {
    font-family: 'robotomedium'!important;
}

.tblcabecera {
    font-family: 'robotobold'!important;
    color: white;
    text-transform: uppercase!important;
}

.titleh5 {
    font-family:'roboto'!important;
    color:#831F82!important;
}

.filtro {
    margin-left: 15%;
}

#tbArticulos tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#tbArticulos tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#tbArticulos tr th {
    background-color: #253778;
    color: white;
    font-family: 'robotoblack';
}

#tbArticulos tr td {
    padding: 1px;
    border-collapse: separate;
    border: 1px solid #28B1E7!important;
}

#tableabc tr td {
    padding: 1px;
    border-collapse: separate;
    border: 1px solid #28B1E7!important;
}

#tableabc tr th {
    border: 1px solid #28B1E7 !important;
}

#tbArticulos tr td input[type=number] {
    width: 75%;
    text-align: center;
}

#pdf tr th {
    background-color: #253778;
    color: white;
}

#pdf {
    border-collapse: collapse;
    border: 1px solid #28B1E7!important;
}

#pdf tr td {
    padding: 1px;
    border-collapse: collapse;
    border: 1px solid #28B1E7!important;
}

.modal.modalcontrato {
    width: 90%!important;
}

.modal#modalABC {
    width: 90%!important;
}

#tableabc,
table.dataTable.no-footer {
    border-bottom: none!important;
}

.input-field label {
    position: static!important
}

#tableabc {
    font-size: 12px!important;
}

#tableabc,
table.dataTable thead th {
    padding: 10px 18px!important;
}

input[type=search] {
    border-bottom: 1px solid #3e3939!important;
}

select {
    border: 1px solid #c1c1c1!important;
}

#test5label {
    padding-left: 22px;
}

.nomostrar {
    display: none;
}

.mostrar {
    display: 'inline';
}

.divalerta {
    /*margin-bottom: 20px;*/
    margin-top: 0px;
    margin-right: 5px;
}

.totales {
    width: 100%;
    height: 100%;
    /*background-color:#60ceff;*/
    overflow: overlay;
    line-height: 5;
}

.totales2 {
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    overflow: overlay;
    line-height: 5;
}

.center {
    text-align: center!important;
}

.dataTables_filter {
    display: none;
}

.spinner-layer {
    border-color: purple;
}


/*********ESTILOS PARA TEXT-AREA******************/
.text-area-ord {
    border-style: solid #8b008b; border-color: #8b008b; height: 100px;
}

/******** STYLE MENU ORDEN DE TRABAJO ****/
.collection a.collection-item {
    color: #f5f5f5;
}
.collection .collection-item {
    border-bottom: 5px solid #f5f5f5;
}
.collection .activo{
    background-color: #8b008b;
    font-weight: 800;
}
.border{
    border-collapse: collapse;
    border-spacing:0;
}
.color1{
    color:#000000;
}
.border tbody> tr{
    border-bottom-color: #00C853;
}
.tab{
    background-color: #b9dcbb;
    font-weight: 800;
}
.tab tr{
    border-spacing: 10px;
}

.total{
    text-align: center;
    color: #ffff00;
    font-weight: 800;
    padding-top: 0.5px;
}
/****** END style MENU LEFT ****/
/*ESTILOS INPUTS VIEW CARGASPULPER*/
.inputCP {
    border:none;
    text-align:center;
    background:none;
    width:50px;
}
.detalleNumOrd{
  cursor: pointer;
}
.detalleNumOrd:hover{
  color: orange!important;
}
.detalleNumOrdOrange{
  color: orange!important;
}
#tlbListaRep3 th{
  background: #db7093;
}

#tablaReporteDiario {
    font-family: 'robotobold'!important;
    color: #708090;
    font-size: 12px;
    text-transform: uppercase!important;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid grey;
    width: 90%;
    margin: 0 auto;
}
#tablaReporteDiario tr td{
    background-color: white;
}
#tablaReporteDiario tr td{
    border: 1px solid #a9a9a9;    
    text-align: left;
    padding: 3px 3px;
}


/**
* instead of linking from https://fonts.googleapis.com/icon?family=Material+Icons
*/
